<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task| %>

    <li>
      <% if task.completed %>
        <i class="far fa-check-square"></i>
      <% else %>
        <i class="fal fa-check-square"></i>
      <% end %>
      <%= link_to task.title, task_path(task) %>

      <%= link_to task_path(task), method: :delete, data:{confirm: "Are you sure?"} do %>
      <i class="fas fa-trash-alt"></i>
      <% end %>
    </li>
  <%end%>
</ul>

<%= link_to 'Add a new task', new_task_path %>
